@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "_Layout.cshtml";
}
  
<section class="article search">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
              @*  @Umbraco.RenderMacro("ezSearch", new { rootContentNodeId = "1090", rootMediaNodeId = "", indexType = "CONTENT", searchFields = "title,shortDescription,nodeName,metaTitle,metaDescription,metaKeywords,bodyText,description,namecontent,leftSideTextContent,rightSideTextContent,rightSideTextContentHeader", previewFields = "metaDescription,shortDescription,leftSideTextContent,rightSideTextContent,tile", previewLength = "", pageSize = "", hideFromSearchField = "", searchFormLocation = "" })*@
            </div>
        </div>
    </div>
</section>