@inherits Umbraco.Web.Macros.PartialViewMacroPage
@using RJP.MultiUrlPicker.Models
@{
    var currentPage = Model.Content;
    if (currentPage.HasProperty("ctaButtonLink"))
    {
        if (currentPage.HasValue("ctaButtonLink"))
        {
            var links = currentPage.GetPropertyValue<MultiUrls>("ctaButtonLink");
            if (links != null && links.Any())
            {
                <div class="col-sm-4 title-button-holder">
                    @foreach (var linkItem in links)
                    {
                        <a href="@linkItem.Url" @linkItem.Target class="btn-primary">@linkItem.Name</a>
                    }
                   
                </div>
               
            }
        }
    }

}